*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:linear-gradient(135deg,#2b1055,#000);
  color:white;
  min-height:100vh;
}

.title{
  text-align:center;
  margin:30px 0;
  font-size:28px;
}

.challenge{
  margin:20px;
  padding:20px;
  border-radius:20px;
  text-align:center;
  background:linear-gradient(45deg,#9333ea,#c084fc);
  cursor:pointer;
}

.main-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:20px;
  padding:20px;
}

.main-card{
  padding:30px;
  border-radius:20px;
  text-align:center;
  background:rgba(255,255,255,0.05);
  cursor:pointer;
  transition:0.3s;
}

.main-card:hover{
  transform:translateY(-6px);
  box-shadow:0 15px 30px rgba(147,51,234,0.4);
}

.pharma-baba{
  margin:40px 20px;
  padding:20px;
  border-radius:20px;
  text-align:center;
  background:linear-gradient(135deg,#1e1b4b,#3b0764);
}

.pharma-baba input{
  width:90%;
  padding:10px;
  margin:15px 0;
  border:none;
  border-radius:10px;
}

.pharma-baba button{
  padding:10px 20px;
  border:none;
  border-radius:20px;
  background:linear-gradient(45deg,#9333ea,#c084fc);
  color:white;
  cursor:pointer;
}

/* PANEL */
.panel{
  position:fixed;
  top:0;
  right:-100%;
  width:85%;
  height:100%;
  background:#111;
  transition:0.4s;
  padding:20px;
  z-index:1000;
}

.panel.active{
  right:0;
}

.panel-header{
  display:flex;
  justify-content:space-between;
  margin-bottom:30px;
}

.panel-grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:15px;
}

.item{
  padding:20px;
  background:rgba(255,255,255,0.05);
  border-radius:15px;
  cursor:pointer;
  text-align:center;
}

.item:hover{
  background:rgba(147,51,234,0.2);
}

.overlay{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  display:none;
  z-index:999;
}

.overlay.active{
  display:block;
}
.subject-container{
  padding:30px 20px;
}

.subject-container h1{
  font-size:30px;
  margin-bottom:5px;
  background:linear-gradient(45deg,#c084fc,#9333ea);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.subtitle{
  opacity:0.8;
  margin-bottom:25px;
  font-size:15px;
}

.topic-list{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.topic-list a{
  text-decoration:none;
  padding:15px 18px;
  border-radius:15px;
  background:rgba(255,255,255,0.05);
  color:white;
  font-size:15px;
  transition:0.3s;
  border:1px solid rgba(255,255,255,0.1);
}

.topic-list a:hover{
  background:rgba(147,51,234,0.3);
  transform:translateX(6px);
  box-shadow:0 10px 20px rgba(147,51,234,0.3);
}

.back-btn{
  margin-top:30px;
}

.back-btn a{
  text-decoration:none;
  padding:10px 18px;
  border-radius:20px;
  background:linear-gradient(45deg,#9333ea,#c084fc);
  color:white;
  transition:0.3s;
}

.back-btn a:hover{
  transform:scale(1.05);
}
