*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background:#000;
  color:white;
  font-family:'Poppins',sans-serif;
}

/* HEADER */
header{
  text-align:center;
  padding:30px 20px;
}

.logo{
  font-size:32px;
  background:linear-gradient(90deg,#6C2BD9,#9333EA);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.tagline{
  margin-top:10px;
  opacity:0.7;
  font-size:14px;
}

/* BANNER */
.quiz-banner{
  padding:20px;
}

.quiz-banner-content{
  display:block;
  text-align:center;
  padding:20px;
  border-radius:16px;
  background:linear-gradient(270deg,#6a00ff,#8e2de2,#6a00ff);
  background-size:400% 400%;
  animation:gradientMove 6s ease infinite;
  text-decoration:none;
  color:white;
  font-weight:bold;
  box-shadow:0 0 25px rgba(138,43,226,0.6);
}

.quiz-banner-content span{
  display:block;
  margin-top:8px;
  font-size:14px;
}

@keyframes gradientMove{
  0%{background-position:0% 50%;}
  50%{background-position:100% 50%;}
  100%{background-position:0% 50%;}
}

/* SUBJECTS */
.subjects{
  padding:20px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  gap:20px;
}

/* CARD */
.card{
  background:#111;
  padding:20px;
  border-radius:20px;
  text-align:center;
  text-decoration:none;
  color:white;
  border:1px solid #222;
  transition:0.3s;
}

.card small{
  display:block;
  margin-top:8px;
  font-size:13px;
  opacity:0.7;
}

.card:hover{
  transform:translateY(-6px);
  border:1px solid #6C2BD9;
  box-shadow:0 0 20px rgba(138,43,226,0.5);
}

/* MORE BUTTON */
.more-card{
  background:#6C2BD9;
  cursor:pointer;
}

/* HIDDEN SUBJECTS DEFAULT HIDDEN */
.extra-subjects{
  display:none;
  margin-top:20px;
}

.extra-subjects.show{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(160px,1fr));
  gap:20px;
}

/* FOOTER */
footer{
  text-align:center;
  padding:20px;
  font-size:13px;
  opacity:0.6;
}
